<div class="container-fluid">
    <div class="row">
        <ngb-carousel class="w-100" [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
              <div class="carousel-caption" *ngIf="i == 0">
                <h1 class="text-success">Connecting Investors</h1>
                <h3>To the World’s fastest-growing ventures and best investments.</h3>
              </div>
              <div class="carousel-caption" *ngIf="i == 1">
                <h1 class="text-info">Are you the first time to be here ?</h1>
                <button class="btn btn-success font-20">Get Started</button>
              </div>
              <div class="carousel-caption" *ngIf="i == 2">
                <h1 class="text-info">Wanna have a look on how it works ?</h1>
                <button class="btn btn-success font-20">How it works</button>
              </div>
              <a class="w-100" href="https://www.google.com/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                <div class="picsum-img-wrapper">
                  <img class="w-100" [src]="img" alt="My image {{i + 1}} description">
                </div>
              </a>
            </ng-template>
        </ngb-carousel>
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor="let item of issues">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        
    </div>
</div>



