
<div class="row mt-5">
    <div class="col-md-4" *ngFor="let item of actionItems">
        <div class="action card text-center pt-5 pb-5" [class]="item.background" (click)="navigateToConfigStO(item.route)">
        <fa-icon [icon]="item.icon" class="m-icon m-auto text-light font-70"></fa-icon>
        <div class="card-body text-light">
            <h3 class="card-title">{{ item.name }}</h3>
            <p class="card-text font-18">{{ item.description }}</p>
        </div>
        </div>
    </div>
</div>