<div class="w-100 mt-5 bg-light p-5">
    <div class="row">
        <div class="col-md-3 d-flex flex-column">
            <img src="../../../../assets/images/dpo-logo-footer.png" alt="">
            <a href="">Call us : 1-647-393-8417</a>
            <a href="">Email us : adsco@directprivateoffers.com</a>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <h3>Listing</h3>
            <a href="">Process</a>
            <a href="">Costs</a>
            <a href="">Support</a>
        </div>
        <div class="col-md-5 d-flex flex-column align-items-center">
            <h3>Information</h3>
            <a href="">About</a>
            <a href="">Privacy</a>
            <a href="">Terms and Conditions</a>
        </div>
    </div>
</div>