<div class="container mt-5">
    <!-- <h1 class="text-danger text-center">Issues</h1> -->
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" id="list-tab" role="tablist">
                <ng-container *ngFor="let item of menu">
                    <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"  role="tab" aria-controls="home"
                        [routerLink]="item.route" routerLinkActive="active"
                    >
                    <fa-icon [icon]="item.icon" class="m-icon mr-3 text-success font-18"></fa-icon>
                        {{item.title}}
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card w-100 h-100 p-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
